{% extends "layout.html" %}

{% block body %}

<form action="/api/rule" method="post">
  <div class="card">
    <div class="card-header">
      基本信息
    </div>
    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="name">规则名称</label>
          <input class="form-control" id="name" placeholder="请输入规则名称（例如：起点中文网）">
        </div>
        <div class="form-group col-md-6">
          <label for="createdBy">创建人</label>
          <input class="form-control" id="createdBy" placeholder="留下大名，以供瞻仰">
        </div>
      </div>
    </div>
  </div>
  <div class="card mt-2">
    <div class="card-header">
      规则来源信息
    </div>
    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputAddress">来源网站</label>
          <input type="url" class="form-control" id="url" aria-describedby="passwordHelpBlock">
          <small id="passwordHelpBlock" class="form-text text-muted">
            请确保地址正确，本站会定期通过本地址来测试该规则是否有效
          </small>
        </div>
        <div class="form-group col-md-6">
          <label for="inputAddress">推荐级别</label>
          <select id="level" class="custom-select" aria-describedby="levelHelpBlock">
            <option selected>选择推荐级别</option>
            <option value="1">C级（可用，响应慢不稳定，不推荐）</option>
            <option value="2">B级（可用，响应较慢较稳定，不推荐）</option>
            <option value="3">A级（可用，响应较快稳定，推荐）</option>
            <option value="4">S级（可用，响应快稳定，强烈推荐）</option>
            <option value="5" disabled>SSS级（可用，王炸推荐，谁用谁知道）</option>
          </select>
          <small id="levelHelpBlock" class="form-text text-muted">
            SSS级不可手动选择，本站会根据定期评测选择
          </small>
        </div>
        <div class="form-group col-md-12">
          <label for="inputAddress2">UserAgent</label>
          <input type="text" class="form-control" id="userAgent" aria-describedby="passwordHelpBlock">
          <small id="passwordHelpBlock" class="form-text text-muted">
            本选项用于设置Http请求时的请求UserAgent参数，可不填
          </small>
        </div>
      </div>
    </div>
  </div>
  <div class="card mt-2">
    <div class="card-header">
      书籍详情规则（以起点网为例）
    </div>
    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="bookUrl">书籍详情地址</label>
          <input class="form-control" id="bookUrl" placeholder="https://book.qidian.com/info/::ID" aria-describedby="bookUrlHelpBlock">
          <small id="bookUrlHelpBlock" class="form-text text-muted">
            使用“::ID”替换书源站中的id
          </small>
        </div>
        <div class="form-group col-md-6">
          <label for="bookName">书名</label>
          <input class="form-control" id="bookName" placeholder=".book-information .book-info h1 em">
        </div>
        <div class="form-group col-md-6">
          <label for="bookAuthor">作者</label>
          <input class="form-control" id="bookAuthor" placeholder=".book-information .book-info h1 span a">
        </div>
        <div class="form-group col-md-6">
          <label for="coverUrl">封面</label>
          <input class="form-control" id="coverUrl" placeholder=".book-information .book-img a img a@src">
        </div>
        <div class="form-group col-md-6">
          <label for="introduce">简介</label>
          <input class="form-control" id="introduce" placeholder=".book-information .book-info .intro">
        </div>
        <div class="form-group col-md-6">
          <label for="bookContent">作品信息</label>
          <input class="form-control" id="bookContent" placeholder=".book-content-wrap .book-info-detail .book-intro p">
        </div>
        <div class="form-group col-md-6">
          <label for="chapterList">章节列表</label>
          <input class="form-control" id="chapterList" placeholder=".catalog-content-wrap li">
        </div>
        <div class="form-group col-md-6">
          <label for="chapterName">章节名称</label>
          <input class="form-control" id="chapterName" placeholder="a">
        </div>
        <div class="form-group col-md-6">
          <label for="contentUrl">章节链接</label>
          <input class="form-control" id="contentUrl" placeholder="a@href">
        </div>
        <div class="form-group col-md-6">
          <label for="chapterUrl">章节目录页</label>
          <input class="form-control" id="chapterUrl" placeholder="">
        </div>
        <div class="form-group col-md-6">
          <label for="chapterUrlNext">章节目录下一页</label>
          <input class="form-control" id="chapterUrlNext" placeholder="">
        </div>
      </div>
    </div>
  </div>
  <div class="card mt-2">
    <div class="card-header">
      书籍详情规则（以起点网为例）
    </div>
    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="searchUrl">书籍搜索地址</label>
          <input class="form-control" id="searchUrl" placeholder="https://www.qidian.com/search?kw=::search" aria-describedby="searchUrlHelpBlock">
          <small id="searchUrlHelpBlock" class="form-text text-muted">
            使用“::search”替换书源搜索地址中的关键词
          </small>
        </div>
        <div class="form-group col-md-6">
          <label for="searchList">搜索书籍列表</label>
          <input class="form-control" id="searchList" placeholder=".main-content-wrap #result-list .res-book-item">
        </div>
        <div class="form-group col-md-6">
          <label for="searchName">书名</label>
          <input class="form-control" id="searchName" placeholder=".book-mid-info h4 a">
        </div>
        <div class="form-group col-md-6">
          <label for="searchAuthor">作者</label>
          <input class="form-control" id="searchAuthor" placeholder=".book-mid-info .author .name">
        </div>
        <div class="form-group col-md-6">
          <label for="searchKind">分类</label>
          <input class="form-control" id="searchKind" placeholder=".book-mid-info .author a:not(.name)">
        </div>
        <!-- <div class="form-group col-md-6">
          <label for="searchKind">分类</label>
          <input class="form-control" id="searchKind" placeholder=".book-mid-info .author a:not(.name)">
        </div> -->
        <div class="form-group col-md-6">
          <label for="searchCoverUrl">封面</label>
          <input class="form-control" id="searchCoverUrl" placeholder=".book-img-box a img a@src">
        </div>
        <div class="form-group col-md-6">
          <label for="searchLastChapter">最新章节</label>
          <input class="form-control" id="searchLastChapter" placeholder=".book-mid-info .update a">
        </div>
        <div class="form-group col-md-6">
          <label for="searchBookUrl">书籍详情地址</label>
          <input class="form-control" id="searchBookUrl" placeholder=".book-mid-info h4 a@href">
        </div>
      </div>
    </div>
  </div>
  <div class="mt-4 align-right">
    <button type="submit" class="btn btn-primary">新增</button>
  </div>
</form>

{% endblock %}